body {
    color: black;
}

.full-width-headline  {
    text-align: center;
    // font-family: 'Bowlby One SC', cursive;
    font-size: 25.5vw;

    // &::after {
    //     content: "";
    //     display: inline-block;
    //     width: 100%;
    // }
  }
